/* 
=============HEADER================
*/

header{
    width: 100vw;
    background: var(--color-primary-lighter);
    display: flex;
    justify-content: center;
    color: var(--color-title-in-primary);
}

header .content{
    width: 100vw;
    max-width: 980px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    padding: 20px;
}


header .content ul{
    list-style-type: none;
    display: flex;
    
}

header .content a{
    text-decoration: none;
    padding: 5px 10px;
    color: var(--color-title-in-primary);
    transition: color 0.2s;
}

header .content a:hover{
    color: var(--color-text-complement);
}

/* 
=============FOOTER================
*/



footer{
    background: var(--color-primary-light);    
    width: 100vw;
    display: flex;
    justify-content: center;
    color: var(--color-title-in-primary);
    border-top: 1px solid #eaeaea;
    justify-self: end;
}

footer .content{
    width: 100vw;
    max-width: 980px;
    display: flex;
    flex-direction: column;    
    padding: 5rem 0;
}

footer .content p{
    text-align: center;
    margin: 1rem 0;
}
footer .links{
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 425px) {

/* 
=============HEADER================
*/

    header .content nav{
        display: none;
    }

    .menu-toggle {
        width: 40px;
        height: 30px;
    }
    
    .one,
    .two,
    .three {
        background-color: var(--color-title-in-primary);;
        height: 5px;
        width: 100%;
        margin: 6px auto;

        transition-duration: 0.3s;
    }

    .menu-section.on {
        background: black;
        position: absolute;
        top: 0;
        left: 0;

        width: 100vw;
        height: 100vh;

        background-color: var(--color-primary-lighter);

        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }  

    .menu-section.on nav{
        display: block;
    }

    .menu-section.on nav ul{
        text-align: center;
        display: block;
    }

    .menu-section.on nav ul a{
        font-size: 3rem;
        line-height: 4rem;
        display: block;
        transition-duration: 0.5s;
    }

    .menu-section.on .menu-toggle{
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .menu-section.on .menu-toggle .one {
        transform: rotate(45deg) translate(7px, 7px);
    }

    .menu-section.on .menu-toggle .two {
        opacity: 0;
    }

    .menu-section.on .menu-toggle .three {
        transform: rotate(-45deg) translate(8px, -9px);
    }

/* 
=============FOOTER================
*/

    footer .links{
        flex-direction: column;
    }
}

